body { background: #716931; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 18px; display: flex; }
.block-metrics-0 { color: #cca340; font-size: 12px; margin-bottom: 5px; }
.block-database-1 { color: #5f7a8; font-size: 20px; margin-bottom: 5px; }
.block-order-2 { color: #844a42; font-size: 13px; margin-bottom: 5px; }
.block-payment-3 { color: #537eac; font-size: 13px; margin-bottom: 5px; }
.block-router-4 { color: #537d2d; font-size: 20px; margin-bottom: 5px; }
.block-config-5 { color: #d89664; font-size: 18px; margin-bottom: 5px; }